# Ignorar la carpeta _site y todo su contenido
_site/

# Ignorar archivos temporales de DocFX
obj/

# Ignorar archivos de caché de DocFX
.cache

# Ignorar archivos de log
*.log

# Ignorar archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de configuración de IDE (ajusta según tus necesidades)
.vscode/
.idea/

# Ignorar archivos de dependencias (ajusta según tu proyecto)
node_modules/
packages/

# Ignorar archivos de compilación de .NET (si estás usando DocFX con un proyecto .NET)
bin/
obj/